[2020-12-17 21:57] msutkowski opened #3 "Add filter option to the CLI for operations"
It would be great if we could specify what operations to include when generating a schema

[2020-12-17 21:59] msutkowski opened #4 "Address baseQuery import option in CLI"

[2021-01-05 13:02] kahirokunn commented on #4
I am now writing this myself.
And it's working well enough for me.

I'm wondering if there's a better idea, because I may be limiting my thinking with the ease of implementation.

[code]

[2021-01-05 13:12] kahirokunn commented on #3
Is it a sufficient requirement to support regular expressions and exclude APIs with corresponding paths?

[2021-01-11 11:39] Richard87 opened #15 "Invalid type names?"
Hi!

I am running a API-Platform project, that uses a bunch of -,: in the type names, which makes typescript complain *alot* :)

Stuff like this, any tips on how I can fix it?
![image](https://user-images.githubusercontent.com/5749715/104177937-e0546c00-5409-11eb-95c1-8976b1ce2135.png)

TSC Complains about the dash, and ] sign, but I have no idea what is needed to fix :/

[2021-01-11 11:42] phryneas commented on #15
Can you provide us an api schema that reproduces this? Without it, this will be very difficult to find.

[2021-01-11 11:47] Richard87 commented on #15
Ofcourse, check out https://gist.github.com/Richard87/6ae23d5548894447fae6a9d54928b717 :)

[2021-01-11 11:53] phryneas commented on #15
Thanks! I'll try to check it out this evening or tomorrow, currently at work.

[2021-01-11 12:06] Richard87 commented on #15
Thanks! Also, I love this work, super excited about it :D

[2021-01-11 18:02] msutkowski commented on #15
@phryneas I wonder what a good way to handle this would be? We could consider introducing a config file that allows for multiple transformers? This is going to be different for everyone, and I don't really see a reliable way to do this internally, but essentially, a user would need to be able to provide a function that transformed weird names like this:

`ConsultationParticipant-Consultation:view`

[2021-01-11 22:53] phryneas commented on #15
I think as a quick win, it would probably be enough to replace all invalid characters by `_` or something like that. I'm not sure: do we need an upstream PR against ozapftis for that or will this be 100% doable on our side?

[2021-01-11 23:18] msutkowski commented on #15
If we go with what I was mentioning, we control the output name, so we could just swap out:

`capitalize(getOperationName(verb, path, operation.operationId) + argSuffix)` -> `replaceCharsAndCapitalizeTokens(getOperationName(verb, path, operation.operationId) + argSuffix)` (or just loading that fn from a config file as mentioned)...

I don't think this would fall under ozapfts at all. I do think th

[2021-01-12 04:23] #4 closed

[2021-01-12 14:53] Richard87 commented on #15
Thanks for all the attention :)

I like replacing special characters with _, but I'm not sure about this case:
[code]
Does [] have special meaning? If not, maybe we could rename [] to List, and replace other special characters to _

This would work nicely *for me*, but no idea what other side effects that would have :/

[2021-01-12 15:35] Richard87 opened #16 "Optional arguments are sent as undefined"
Hi!

I have this definition:
[code]
When I run `const {data, ...response} = useApiCoursesJobsGetSubresourceQuery({id: 27, itemsPerPage: 100, page:1})` without `page` or `itemsPerPage`, they are included in the request as string values `"undefined"`, with a 400 Bad request error message from the API...

Does this bug belong in rtk-query-codegen or in rtk-query, or something I should fix on my end?

[2021-01-12 16:12] msutkowski commented on #16
Looks like @kahirokunn [opened a PR for this earlier](https://github.com/rtk-incubator/rtk-query/pull/146). We'll just want to add test cases for that (sorry I missed them 😞) and then I'd recommend using the CSB build.

[2021-01-12 16:21] msutkowski commented on #16
@Richard87 Can you confirm you're using `fetchBaseQuery` as the default generated baseQuery?

[2021-01-12 17:10] msutkowski commented on #16
@Richard87 Would you mind trying this version of rtk-query in your project and reporting back?

[code]

[2021-01-13 08:16] Richard87 commented on #16
Hi! Yes, I'm using FetchBaseQuery

here is my generated file: https://gist.github.com/Richard87/c29f22ca2649afe237c73fcd9853195b (I replaced `-` and `:` with `_` in all names).

I can confirm at the commit over (https://pkg.csb.dev/rtk-incubator/rtk-query/commit/8d6e1c9b/@rtk-incubator/rtk-query) does not have the bug :)

[2021-01-13 09:28] kahirokunn commented on #16
https://github.com/rtk-incubator/rtk-query-codegen/issues/16#issuecomment-758805186

[2021-01-13 09:31] kahirokunn commented on #15
Actually, I had the same problem before and have already sent a pull request to oazapfts for a fix, but no response.
https://github.com/cellular/oazapfts/pull/42

[2021-01-13 09:33] kahirokunn commented on #15
@phryneas https://github.com/phryneas/oazapfts/pull/1
In fact, I've sent a similar pull request to you as well, since you've created a great fork.

[2021-01-13 11:54] tevariou opened #17 "Yaml input file support"
I'm using Django Rest Framework which generates openapi schema in yml format. Would it be possible to support yml file in the future?

[2021-01-13 17:36] tevariou opened #18 "Remove file extension from import when using --baseQuery option"
**Description**
Using the --baseQuery option
[code]
`import { CustomFetchQuery } from "./custom-fetch-query.ts";` is added to the top of the generated file.
With typescript in strict mode, it fails to compile and returns error `TS2691: An import path cannot end with a '.ts' extension.`

**Resolution**
Remove the ts extension. The import line should be `import { CustomFetchQuery } from "./custom-fe

[2021-01-13 20:56] msutkowski commented on #17
Could you perhaps try using something like this https://github.com/tromgy/swagger-yaml-to-json-schema before running the codegen?

[2021-01-13 21:44] #18 closed

[2021-01-14 00:32] msutkowski commented on #16
Alright, released `0.2`, please upgrade :)

[2021-01-14 00:32] #16 closed

[2021-01-14 01:00] msutkowski commented on #17
@tevariou  Actually, just disregard that comment. It already supports yaml. I also confirmed it generates from the same example in the readme using `.yaml` instead of `.json` for the petstore schema.

![image](https://user-images.githubusercontent.com/784953/104530415-c1e4a100-55c0-11eb-9d42-903250b7572c.png)

[2021-01-14 01:00] #17 closed

[2021-01-14 01:28] kahirokunn opened #24 "I can't install @rtk-incubator/rtk-query-codegen-openapi@0.2.0"
I can install @rtk-incubator/rtk-query-codegen-openapi@0.1.0
but I can't install @0.2.0 😢

[code]

[2021-01-14 02:20] msutkowski commented on #24
I'm looking into it - for some reason the `lib` folder didn't get included in the build?

[2021-01-14 03:35] msutkowski commented on #24
Sorry about that, fixed: https://github.com/rtk-incubator/rtk-query-codegen/releases/tag/v0.2.3

[2021-01-14 03:35] #24 closed

[2021-01-14 08:46] kahirokunn opened #27 "improve import path"
## Relative path to --file

When I tried the following command, it resulted in an invalid import because the path relative to A was not calculated.

[code]

## support path alias

So I tried path alias, but the path alias was trapped by fs.existsSync validation.

[code]

## Plan

step 1. set the file option to required and remove the std.out feature
step 2. if baseQuery is entered and not path ali

[2021-01-14 08:46] kahirokunn commented on #27
@phryneas  @msutkowski what do you think?

[2021-01-14 09:11] Richard87 opened #28 "Feature request: Specify requested content type"
In my API, the client can request 3 very different content responses:
(https://gist.github.com/Richard87/6ae23d5548894447fae6a9d54928b717)

The prefered response by the API is `application/ld+json`, that returns a Hydra object. Currently rtk-query-codegen *only* cares about `application/json`, but it doesn't send the `Accept: application/json` header by default, so the return value is Hydra instea

[2021-01-14 22:33] phryneas commented on #27
Hmm. I don't think we need to go that far. I would just make sure that *if* `--file` is specified and `baseQuery` is a relative path, it gets resolved correctly.

[2021-01-15 08:20] kahirokunn commented on #27
@phryneas @msutkowski
The current import path produced wrong results in my environment.
So I can't use the latest version. 😢
I've made some improvements in this area, so please check it out!

https://github.com/rtk-incubator/rtk-query-codegen/pull/29

[2021-01-16 22:27] msutkowski commented on #28
@Richard87 Sorry, I thought I responded to this the other day... I think your solution is probably the best way to handle this for now. Anytime you need something other than a very basic `fetchBaseQuery`, it's just so simple to add a custom one and handle that config there.

[2021-01-16 22:42] #27 closed

[2021-01-17 01:08] Richard87 commented on #28
Thanks for coming back to me :) That makes sense, there will unquestionably be more changes to fetch anyway :)

[2021-01-17 01:08] #28 closed

[2021-01-18 18:39] tevariou opened #32 "Bad import using --baseQuery when generated file and baseQuery file are in the same folder"
**Description**
Running
[code]
The import string at the top of `api.generated.ts` is `import { customFetchBaseQuery } from "custom-fetch-base-query";` resulting in error `TS2307: Cannot find module 'custom-fetch-base-query' or its corresponding type declarations`.
`api.generated.ts` and `custom-fetch-base-query.ts` are in the same folder.

**Resolution**
The import string should be `import { custo

[2021-01-21 09:50] tevariou opened #33 "Cli option --baseQuery generates a custom fetchBaseQuery function call instead of a BaseQueryFn function"
# Current behaviour
The following command
[code]
generates `api.generated.ts` with `customFn` expected to have the same behaviour as `fetchBaseQuery`
[code]
# Proposal
`customFn` could be of type `BaseQueryFn` and the generated file would assign `customFn` to `baseQuery` attribute in the `createApi` option argument.
[code]
## Motivations
* It's not really convenient to set baseUrl in the command l

[2021-01-24 17:32] msutkowski opened #34 "Docs issue: update baseQuery snippet in API docs"
https://rtk-query-docs.netlify.app/api/createapi/#basequery Snippet needs to be updated per #33

Ex:      `dispatch(setToken(refreshResult.data));` should be `api.dispatch(setToken(refreshResult.data));`

[2021-01-24 18:43] tevariou commented on #34
Also I think baseQueryWithReauth should be async and the baseQuery call awaited in this example

[2021-01-24 18:52] msutkowski commented on #34
@tevariou Mind opening a PR? If not, I'll get to it later :)

[2021-01-24 22:01] #34 closed

[2021-02-01 12:39] pollen8 opened #35 "parameter name with full stops in them"
Hi
I'm investigating using rtk-query-codegen at our work. We currently have a large OpenAPI v2 file generated from a proto definition.
Some of its query parameter names are using a dot notation Eg `filter.name`.

To replicate more easily I modified the pets swagger file so that `"/pet/findByStatus"` has a parameter `"name": "status.foo",`

and when I run
```npm run prepare && npm run test:update``

[2021-03-06 10:55] tevariou commented on #33
Here my command to generate the file for those meeting the same issue
[code]

[2021-03-12 17:47] pollen8 commented on #35
Perhaps this is the same issue as https://github.com/rtk-incubator/rtk-query-codegen/issues/15
in which case would fixing this simply be a question of updating oazapfts in the package.json ?

[2021-03-12 17:50] phryneas commented on #35
Would be perfect to wait for them to do a release since the PRs finally got merged. You could nudge them a bit ;)

[2021-03-25 10:52] pollen8 commented on #35
hi - I might be wrong but it looks like version 3.3.1 has the required fix https://github.com/cellular/oazapfts/commit/81513f814302c76a8254865eaf2e0b0aa0bb9b2d ?

[2021-03-25 11:08] pollen8 commented on #35
ignore that, I updated locally and the problem is still there

[2021-03-29 16:05] faragos opened #36 "invalidate via OpenAPI"
When you generate the API the invalidation is annoying to do because everytime you regenerate the Files the "invalidates" are missing. How about it generates the invalidates based on the 'tags'? I mean normally all "GET" provides and all others invalidate mostly. I'm not sure if this makes sense but it would be helpful for me at the moment at least 👍

Love the codegen so far ❤️

[2021-03-29 16:10] phryneas commented on #36
The idea is that you use a second file with `enhanceEndpoints` to add `provides`/`invalidates` on top of the generated file. So you should never need to touch the generated file.
See the example [in the docs](https://rtk-query-docs.netlify.app/concepts/code-generation)

As for automatically generating those, I don't think the OpenAPI standard does give any guidance on something like that, so befor

[2021-03-29 16:14] faragos commented on #36
Oh man was too hyped about the generation, that I didn't finish reading it there and searched for it in the [code-splitting](https://rtk-query-docs.netlify.app/concepts/code-splitting) 🤦
Thank you for the fast response 👍

[2021-03-29 16:14] #36 closed

[2021-03-30 11:23] faragos opened #37 "Code generation fails with an enum"
When I try to generate an APi with an enum in it it fails. Example enum in a OpenAPI.json:

[code]

My call:

The error:

[code]

[2021-04-05 12:34] buzzie-bee commented on #32
I have the same issue.

`Using: npx --yes @rtk-incubator/rtk-query-codegen-openapi --file ./src/redux/services/rokkup/rokkup-api.generated2.ts --exportName generatedRokkupApi --baseUrl / --baseQuery ./src/redux/services/rokkup/customBaseQuery.ts:customBaseQuery ./rokkupApiDefinition.json `

The import in the generated api is:

`import { customBaseQuery } from "customBaseQuery";`

I've dug into the

[2021-04-05 14:33] buzzie-bee opened #39 "Generate documented error cases as well as successes"
I've decided to use rtk-query for my current project. I've got a NestJS backend which makes it super easy to generate swagger and open-api documentation for my api.

I've got the automatic generation working well (apart from my detour regarding issue #38 ) but am now wondering how to most effectively handle errors. I've documented the various error's that get thrown by my api and they are present

[2021-04-05 16:09] msutkowski commented on #37
@faragos Can you please provide a copy of `TimeTrackAPI.json`?

[2021-04-05 20:55] #32 closed

[2021-04-05 21:01] phryneas commented on #39
Hm. Difficult as RTKQ does not know per-endpoint error types. So this would require siginficant changes to RTQK and there I've considered it a "probably not worth it", as most people don't go so deep into that. (Also, your API or any proxy/adblocker/firewall could return values you don't expect instead of the described errors. While that of course is also true for payloads, it's much more common w

[2021-04-08 07:27] faragos commented on #37
I put the JSON into a .txt because GitHub doesn't support .json files.

[TimeTrackAPI.txt](https://github.com/rtk-incubator/rtk-query-codegen/files/6276799/TimeTrackAPI.txt)

[2021-04-11 13:06] #33 closed

[2021-04-29 16:05] StefanBRas opened #51 "Option to generate hooks, but not export them"
Hi,

Short version: It would be nice if there was a way to generate the api using `createApi` from `@rtk-incubator/rtk-query/react` but without exporting all the hooks.

Longer version:
I have a project where we have use an api with a large amount of end points. As there are a lot of endpoints, I'll start by gradually migrating them, by using `enhanceEndpoints` on the generated api and then only e

[2021-04-29 16:24] phryneas commented on #51
We should probably just make the import path adjustable, as by now there is also an angular package for this.

[2021-05-03 19:23] tevariou commented on #35
same issue with parameters with '-' in them. For example:

[code]

[2021-05-03 19:54] phryneas commented on #35
Yeah, we are unfortunately pretty bound working on the RTK-Q final release with RTK 1.6 itself, so this is pretty far back in the backlog atm.
Pull requests against this repo (or oazapfts, for that matter as I believe this might be rooted upstream) are very welcome though.

[2021-05-05 07:56] asherccohen opened #53 "Generate empty type for endpoints that don't require params"
Context:
GET requests that don't need parameters are executed with a call to the query hook with empty brackets

`const {data} = useGetItemsQuery()`

or with undefined if options need to be passed:

`const {data} = useGetItemsQuery(undefined, {skip: true})`

Issue:
Types for these endpoints are generated like so:
`type GetItemsApiArg = {}`

Expected result:
Arg Types should be empty or unknown to

[2021-05-05 08:16] asherccohen opened #54 "Provide a way to extend/overwrite types when known issues cannot be resolved on the backend"
Context:
Right now manual patching is needed to extend/refine generated types that are either wrong or not properly documented by the backend schema definition (and no, "kicking the backend team" is not always an option).

Since these are Types the only way to extend/merge declaration it to define a new type with a different name and use &, like so:
[code]

This introduces a bloated list of types

[2021-05-05 09:08] tevariou commented on #35
@pollen8 #52 fixed this issue for me. But there's still some unresolved issues. If you have two query parameters which differ by only some special characters, eg. `foo` and `_foo`, only one will be taken into account since the code do a simple lodash _.camelCase on them (and the result for both is `foo`).

[2021-05-05 09:21] tevariou commented on #53
`void` would be more appropriate i guess

[2021-05-06 17:50] Sigkar commented on #35
Ive also run into an issue with `AWS API Gateway` exported swagger/openapi YAML files

One of my coworkers pointed this out
``` Because the successful integration response from Amazon S3 returns the bucket list as an XML payload and the default method response from API Gateway returns a JSON payload, we must map the backend Content-Type header parameter value to the frontend counterpart. Otherwise

[2021-05-07 06:43] tevariou commented on #15
I'm suggesting a new fix since it didn't solve the issue for me https://github.com/phryneas/oazapfts/pull/2

[2021-05-07 06:45] tevariou commented on #35
I've updated my PR to avoid the collision issue

[2021-05-10 13:57] pollen8 commented on #35
looks good when generating from the OpenAPI spec I was struggling with when I reported this issue

[2021-06-07 22:01] las3r opened #56 "Provide a way to specify the generated names"
Love the generator, it is speeding up my workflow like crazy, so first off - thanks for that.

I'm using a .NET Core api, that provides me with nice OpenApi spec docs, that work perfectly with the codegenerator, however:

The names it generates for types, args, and endpoints is a bit verbose.

I've got an api defined as following:
[code]
This resolves to:

Hook: `useGetApiV1OrganizationByOrganizat

[2021-06-08 14:59] Nvveen opened #57 "Error with string index keys"
I am using an OpenAPI spec with parameters that are valid string indices, but not valid object property names, such as `created_at>` and `created_at<`.

An example spec:
[code]

After which I get the following error:

[code]

[2021-06-08 15:22] phryneas commented on #57
That should get fixed by #52 (I'll get to that soon now that RTKQ is out, I promise!), but might end up with very weird property & hook names. Can you try that one out?

[2021-06-08 16:09] Nvveen commented on #57
For that minimal reproduction, it seems to work fine :)

[code]

[2021-06-10 15:38] StefanBRas commented on #56
I'm having a similar problem for a FastApi generated OpenApi schema.

[2021-06-10 15:44] phryneas commented on #56
Hmm. I would think about it two ways:

* either allow the schema to contain metadata on how an endpoint should be named. This would be cleaner but probably not everyone would have access to that
* create some kind of `endpointNameMapping.json` file  that looks like
[code]
Where the `false` would cause endpoints to be skipped in generation

[2021-06-10 17:15] StefanBRas commented on #56
@phryneas I would prefer option two her - preferably integrated in a configuration file.

[2021-06-13 07:49] las3r commented on #56
I would also opt for the second option. That would really help as right now I'm basically re-exporting them myself with pretty names, but the 'old' hook-names are still available! The first option won't do, as many times we're forced to consume a 3rd party api, so we're unable to change those api's

[2021-06-14 17:18] pomali commented on #56
Isn't "first" option already supported with `operationId`?

(uses `getOperationName` from `oazapfts`)
https://github.com/cellular/oazapfts/blob/master/src/codegen/generate.ts#L49

[2021-06-15 10:10] ybelenko opened #58 "Add notice about core packages"
Maybe it's just me as a member of [OpenAPI-Generator](https://github.com/OpenAPITools/openapi-generator) project, but I understood this package completely wrong from the first sight. I thought it's just a wrapper of some TypeScript generator from mentioned repo, but seems like you generate everything yourself?

If so, could you add small notice in main README that you don't use any generation libr

[2021-06-15 13:33] phryneas commented on #58
I'm a bit at a loss - why would we generate a full external API client when this is a code generator for [**an api client library**](https://redux-toolkit.js.org/rtk-query/overview)?
Especially the "more advanced" part - I'm really not sure about this - have you taken a look at the docs?

This is primarily just to create an endpoint declaration and types that users can then enhance with hand-writt

[2021-06-15 13:41] markerikson commented on #58
I'm kinda confused. @ybelenko , can you clarify what your specific concerns are, and what you're asking for here?

[2021-06-15 14:14] ybelenko commented on #58
I already have generated front client SDK with models and helper classes which looks like:

[code]
Ref to full [OpenAPI Petstore](https://github.com/OpenAPITools/openapi-generator/tree/master/samples/client/petstore/javascript-promise-es6/src) source samples.

So, it feels natural to customize `baseQuery` and use that SDK while RTK doc recommends to use your package since API based on OpenAPI sche

[2021-06-15 14:23] phryneas commented on #58
If you bring your own API client, you would usually use `fakeBaseQuery` and `queryFn` instead of a `baseQuery` & `query` combination.
We can't generate code for external api clients as they bring their own assumptions, usually mutably hold internal state and do a lot more stuff we cannot really take into account.

The API client you linked to seems to be not very suited for storage in Redux as it

[2021-06-15 14:40] ybelenko commented on #58
Yes, you right, but generated library returns model and response object in each endpoint call. Usually I put response body into Redux state instead of model. While models seems useful when it request param not a response.

Of course, I get it. So for me it's choice between your codegen and OpenAPI-Generator codegen. Should I wrap client SDK with `fakeBaseQuery` or generate your endpoint declaratio

[2021-06-15 14:47] phryneas commented on #58
`fakeBaseQuery` would just prevent you from accidentally call it.
You would essentially write your endpoints by hand and do something like
[code]
for each of your endpoints.

Of course, you can write a little helper for yourself that will cut down on code quite a bit, but you would essentially be duplicating your generated api client.
This is more an escape hatch for something like firebase where

[2021-06-15 14:59] ybelenko commented on #58
Is it typescript only? It's hard to read for me and I think typescript is overkill for a small projects. I use vanilla React JSX where possible.

And what http client this package uses by default? Is it `fetchBaseQuery`? OpenAPI-Generator uses `superagent` http client for a long time already and maybe there are edge cases when it's complicated to use basic fetch wrapper.

[2021-06-15 15:07] phryneas commented on #58
You can throw the generated TypeScript into something like the [TypeScript playground](https://www.typescriptlang.org/play/) to just get the compiled JavaScript (which is pretty much stripping away the type annotations).

Personally I would use TypeScript before I even add a second file to a project.

Especially when just writing

`const {data} = useSomeQuery()`

and then getting full autocomplete

[2021-06-16 06:41] ybelenko commented on #58
I almost forgot that OpenAPI-Generator contains long list of TypeScript generators:
- [TypeScript Angular 10](https://github.com/OpenAPITools/openapi-generator/tree/master/samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default)
- [TypeScript Axios](https://github.com/OpenAPITools/openapi-generator/tree/master/samples/client/petstore/typescript-axios/builds/es6-target)
- [Ty

[2021-06-16 07:12] phryneas commented on #58
Actually, the use of mustache made me *not* go for the code generator - I honestly evaluated it (and dozens others) before building this.

For a guarantee of building correct TypeScript code, I did not want to rely on some string concatenation, but build a TypeScript AST and write that to a TypeScript file using the compiler itself.

[2021-06-18 13:27] JonJohann opened #59 "Autogen. file with syntax error on header field"
When I try the following command:

I get the following syntax error, it expects a comma on line 8 around "X-Client-Product-Version":

   6 |     endpoints: build => ({
   7 |         getDatasets: build.query<GetDatasetsApiResponse, GetDatasetsApiArg>({
\>8 |             query: queryArg => ({ url: `/datasets`, headers: { X-Client-Product-Version: queryArg.xClientProductVersion } })
   9 |         }

[2021-06-22 04:24] piotr121993 opened #60 "Cannot read property 'getBaseTypeFromSchema' of undefined"
I get this error when running code generation:
[code]
The issue is fixed in the latest master of `oazapfts`, [Link to original issue](https://github.com/cellular/oazapfts/issues/51), but not yet released.

Running with linked master code generates this error instead:
[code]

[2021-06-22 04:35] piotr121993 opened #61 "Code generator doesn't support format of schema generated by Swashbuckle"
For inherited types Swashbuckle generates separately `"allOf": []` and `"properties": {}`:
[code]
, but the generator can only handle a format in which properties are inside `allOf` array:
[code]
[Issue created on oazapfts library](https://github.com/cellular/oazapfts/issues/61)

[2021-06-25 08:33] tevariou commented on #59
The issue lies with the `-` characters in `X-Client-Product-Version` and it should be fixed by https://github.com/rtk-incubator/rtk-query-codegen/pull/52. Maybe you can try this out?

[2021-07-05 09:25] gormonn commented on #60
I have similar problem now.
And don't understand why

[2021-07-10 18:04] guvenkaranfil commented on #37
Is there any update on issue? I'm getting the same error, here's the json file I'm trying to generate on https://yawa-pick-test.azurewebsites.net/swagger/v1/swagger.json

[2021-07-10 18:12] phryneas commented on #37
I'm sorry, I'm just hopelessly swamped with other work :disappointed:

I have plans on getting the open issues some attention and get this whole repo over into https://github.com/reduxjs/redux-toolkit, but at the moment it seems like there are always coming things in between :confused:

[2021-07-10 18:14] guvenkaranfil commented on #37
Thank you for quick response @phryneas . Could you please give me a how to debug this issue. Maybe I can send a fix about it. Is there any contribution or any guideline that i can follow

[2021-07-10 18:23] phryneas commented on #37
The error message seems very strange to me as for me it reads like that error seems to appear during printing the code (I assume somewhere in the call stack it will finally end up in https://github.com/rtk-incubator/rtk-query-codegen/blob/next/src/generate.ts#L138, but the trace is cut off so I can't say for sure), which would mean that somewhere an AST node has gotten some *seriously* weird conte

[2021-07-13 10:04] gormonn opened #63 "Project roadmap?"
Hello!
Thanks for an impressive project!
I really hope that with the joint efforts of the community, the project will one day be released from the alpha version.

However, due to the low activity of Contributors in Issues and PR, the development status is not clear. And it's a little scary.

Unfortunately I cannot use rtk-query-codegen due to https://github.com/rtk-incubator/rtk-query-codegen/issu

[2021-07-13 16:12] phryneas commented on #63
Heyo, thank you for triggering this.

It has been quite a lot to handle in the last few months, but it's been on my mind.

So far, a short status on other stuff that happened meanwhile:
* RTK 1.6 has released with RTK-Query
* a graphql-codegen plugin is released
* we are currently working on SSR & suspense support

Since two of the three items on this list are done by now, I have to juggle time be

[2021-07-13 19:31] #15 closed

[2021-07-13 20:08] pollen8 opened #64 "queryarg variables in urls are incorrect when parameter names have full stops in them"
Since the latest commit to next https://github.com/rtk-incubator/rtk-query-codegen/commit/992ad9b0f82d09804c279e1841ebd44cc7453b37

Given a swagger file of:
[code]

the generator produces:
[code]

[code]

   would need to be

[code]

[2021-07-13 20:21] pollen8 commented on #64
I have monkey patched this locally in generatePathExpression with
[code]
The type coercion to ts.Identifier is kind of janky and there's probably a better way to do it

[2021-07-13 20:23] phryneas commented on #64
I'll take a look. Thanks! Could you maybe add a PR with a failing test for this?

[2021-07-13 20:28] pollen8 commented on #64
will do just trying to tidy it up a bit :)

[2021-07-13 20:30] phryneas commented on #64
Already got a tidy patch, just missing some tests :)
[code]

[2021-07-13 21:01] pollen8 commented on #64
ah lol I put in an MR with a similar fix - plus the test

[2021-07-13 21:01] pollen8 commented on #64
https://github.com/rtk-incubator/rtk-query-codegen/pull/65

[2021-07-13 21:06] pollen8 commented on #35
this has been resolved with today's merge ! Many thanks!

[2021-07-13 21:06] #35 closed

[2021-07-13 21:54] #64 closed

[2021-07-13 21:55] phryneas commented on #60
Could you please give the last `main` a try and verify if it works now? I would create a release based off of that then.

[2021-07-14 19:33] piotr121993 commented on #60
I tried `main` and indeed it works now.

[2021-07-15 14:28] msutkowski opened #66 "Allow config to specify an entry point"
Might be partially [addressed here](https://github.com/rtk-incubator/rtk-query-codegen/issues/63) in the 'configuration file' concept, but as of now, the only way to use the react entry point is to specify hooks, which is clunky. IMO, these should both be configurable. For example, I should be able to specify:
- React, with hooks
- React, without hooks
- SomeFutureEntryPoint, with hooks (that soli

[2021-07-15 14:35] phryneas commented on #66
Nope nope nope :)
Let's throw *all* that away.

We import a ready-configured `api` object from another file. The user can do what they want there, including importing stuff from `@someRandomPlanet/query` or using a different fetchBaseQuery. Whatever. Let this plugin just generate `injectApi` statements, types and exports.

[2021-07-15 15:07] phryneas commented on #60
Resolved with 0.4.0

[2021-07-15 15:07] #60 closed

[2021-07-15 15:08] phryneas commented on #59
This should be resolved with 0.4.0

[2021-07-15 15:08] #59 closed

[2021-07-15 15:08] phryneas commented on #57
Resolved with 0.4.0

[2021-07-15 15:08] #57 closed

[2021-07-15 15:17] msutkowski commented on #66
Got it, sounds even more ideal :)

[2021-07-15 15:17] #66 closed

[2021-07-20 11:48] sn3ek opened #67 "Option to generate Lazy Hooks too"
Thanks for providing such a great code generator for RTK-Query.

Do you have any plans to also provide an option to generate `Lazy` hooks too?

Thanks
Lars

[2021-07-20 11:55] phryneas commented on #67
These ones?
https://redux-toolkit.js.org/rtk-query/api/created-api/hooks#uselazyquery

[2021-07-20 11:59] phryneas commented on #67
Argh sorry, wrong repository - I thought we were on the RTK repo right now :rofl:

Generally, yes, we can add those exports to generation. I'll flag it a feature :)

[2021-07-21 06:20] sn3ek commented on #67
Yes. Sounds good. 👍

[2021-07-21 14:07] Evgenyx82 commented on #56
Same here.

My OpenApi3.json about 15k rows, and i got the result:

``json

    delete15: build.mutation<Delete15ApiResponse, Delete15ApiArg>({
      query: (queryArg) => ({
        url: `/deviceparam/${queryArg.id}`,
        method: "DELETE",
      }),
    }),
    getAll5: build.query<GetAll5ApiResponse, GetAll5ApiArg>({
      query: () => ({ url: `/tsoperations` }),
    }),
    create25: build.m

[2021-07-22 01:38] evandegr commented on #58
After reading this thread with interest wanted to ask a somewhat related question.

I have an `openapitools.json` that I'm using to do my node express and typescript generation right now:

`{
  "$schema": "node_modules/@openapitools/openapi-generator-cli/config.schema.json",
  "spaces": 2,
  "generator-cli": {
    "version": "5.1.1",
    "generators": {
      "frontend_v1.0": {
        "generatorN

[2021-07-22 07:02] phryneas commented on #58
You are right, if you want to generate server code, you have to use both tools for that.

[2021-07-23 15:44] evandegr commented on #58
For anyone interested in using plain JS:  I created a script in my `package.json`:

[code]

[2021-07-29 01:15] bkempe commented on #58
@phryneas One advantage of having the generated API calls generated separately from the RTKQuery concerns might be that the generated client can be used from other part of the application, e.g. from some custom Redux middleware code. Are there any other approaches at the moment to do this?

[2021-07-29 06:48] phryneas commented on #58
This is written in Redux. It is literally dispatching actions and storing the results in the store from where you can retrieve them. (This version you can also await mutations in middleware, from the next version on you'll also be able to await queries since it will remove a possible race condition.)
You do not need to use the hooks.

We have a svelte example in the docs, there are people using th

[2021-07-29 09:34] bkempe commented on #58
Great to hear about the upcoming await query feature!
So if I use this from middleware to make one request, I still have to call `unsubscribe` though, right?

[2021-07-29 09:47] phryneas commented on #58
Yes, as soon as you are not interested in the cache result any more and it can be collected.

[2021-07-29 10:44] bkempe commented on #58
So once the _await queries_ lands, the pattern to make requests in custom middleware would be something like this?
[code]

[2021-07-29 10:53] phryneas commented on #58
Yup. That should also already work similarly in the current version of RTKQ, by selecting the result from the store after awaiting like this:

[code]

Atm, there is just one race condition which will be resolved in the next version of RTQK:

If you `initiate` the same endpoint with the same queries twice in very short succession
* query 1 will go into `pending`
* query 2 will be `rejected` instant

[2021-07-29 17:40] bkempe commented on #58
@phryneas Maybe this was just an example, but calling `select()`would recreate the selector every time and not provide the benefit of caching, correct?

Similarly, how do I reuse a selector specified in `selectFromResult` somewhere else in the application?
Is the usage in this example correct? It seems like it would create 3 selectors.

[code]
1) ComponentA:
[code]
2) ComponentB uses the same code

[2021-07-29 17:46] phryneas commented on #58
Going very far off topic, but yes, `api.endpoints.getPosts.select()` is like a call to `createSelector` and should be handled similarly - save the result somewhere outside of component lifecycle.

About `selectFromResult`: either you create a memoized selector to pass in or you just don't create a new object in the selector that is deeper than one level - the result of `selectFromResult` is compar

[2021-07-31 19:34] lindapaiste opened #68 "Is there a way to pass dynamic arguments to the baseQuery?"
I can define a custom `baseQuery` function or I can use the defaults which creates an instance of a `fetchBaseQuery` with the `baseUrl` from the OpenAPI spec.

I'm wondering if it's possible to define a plug-in replacement for `fetchBaseQuery`.  That is, a factory function which is called with `FetchBaseQueryArgs` or `{ baseUrl: string }` and returns a base query function.

[code]

---

I'm dealin

[2021-07-31 22:15] lindapaiste commented on #68
I ended up approaching this differently.  I used [`openapi-merge-cli`](https://www.npmjs.com/package/openapi-merge-cli) to merge all of the API configs into one file and then ran the RTK script only once.

[2021-07-31 22:16] phryneas commented on #68
Actually, the `baseQuery` part will probably be removed from the codegen in the medium future, so I would not concentrate too much on that.
The idea is to solve it more like the [graphql codegen](https://www.graphql-code-generator.com/docs/plugins/typescript-rtk-query) plugin:

You define your api empty in one file and the codegen is going to create one or multiple files that just import your empt

[2021-08-11 19:36] mdcuk34 opened #69 "POST with body isn't generating types - ApiArg Blob"
Hey, thanks for all the work on this library. We've just started integrating this into our project and are loving the direction.

However we are facing one issue with the Types generated for the body of a `POST` mutation.

Given the following section of an Open API Spec:
[code]

We get the following generated:
[code]

The problem here being the `Blob` in the `TestPostApiArg` type. We are instead e

[2021-08-12 07:42] mdcuk34 commented on #69
@phryneas I think you're spot on, I've switched to `application/json` and it all works fine. I guess it isn't recognising `application/form-urlencoded`.

[2021-08-12 08:54] phryneas commented on #69
So far we are not autogenerating code that can handle form encoding, so I guess that's fine for now. In the long run we could maybe add that though.

[2021-08-24 13:00] sn3ek opened #70 "How to inject a custom base URL on runtime"
Our web app connects to local networks which will be setup on runtime. Thus it is necessary to inject a base URL on runtime.

What is the most elegant way to inject a base URL on runtime into the generated rtk-query stubs?

Thank you

[2021-08-24 13:52] msutkowski commented on #70
You'd want to do this in a custom baseQuery. There is an example that gets you most of the way here: https://redux-toolkit.js.org/rtk-query/usage/customizing-queries#constructing-a-dynamic-base-url-using-redux-state. In your case, you'd want to set `fetchBaseQuery({baseUrl: ''})`, then build the base url on each request.

Something close to what you need:
[code]

[2021-09-07 08:31] sn3ek commented on #70
Thank you!

[2021-09-07 08:31] #70 closed

[2021-09-13 12:16] bkempe opened #71 "Order generated types and properties"
Currently, the order of types and their properties changes on every code generation. It would be advantageous to have a consistent ordering so that diffing is easier.

[2021-09-15 20:40] jordancarney1 commented on #53
@ phryneas I took the liberty of taking a shot at a fix for this in #72

[2021-09-16 08:43] apstechlead commented on #69
I would also like to express my interest in form encoding.
Our back-end is expecting application/x-www-form-urlencoded so I need to see if it's possible to change this or find an alternative code gen.

[2021-09-16 09:54] phryneas commented on #69
@apstechlead  That should at the moment already be possible by creating a wrapped baseQuery to add that functionality, and using that instead of the normal `fetchBaseQuery` - assuming all your endpoints expect that.

[2021-09-16 10:52] apstechlead commented on #69
@phryneas is there a way to do this for all or many endpoints?
As far as I know the enhanceEndpoints function requires each endpoint to be enhanced explicitly.

[2021-09-16 10:56] phryneas commented on #69
@apstechlead  I am not talking about enhaning endpoints, but about writing a `baseQuery` wrapper. It's essentially our version of an axios interceptor.

There are a few examples in the docs, for example
https://redux-toolkit.js.org/rtk-query/usage/customizing-queries#automatic-re-authorization-by-extending-fetchbasequery
or take a look at what `retry` does - the `retry` is documented here: https:/

[2021-09-16 12:15] bkempe commented on #71
Closing this, the problem of ordering is in the OpenAPI spec I was using, not RTKQ or oazapfts.

[2021-09-16 12:15] #71 closed

[2021-09-16 13:41] apstechlead commented on #69
Thank you for these resources @phryneas. I wasn't aware this existing, very cool design. With this I am able to modify my queries and send the data any way I want. That's perfect.

There is however 1 limitation still that I would like to clarify:
The content type defined in the openapi schema is lost after the generator is done.
So there is no way for me to conditionally modify the query based on

[2021-09-16 14:27] phryneas commented on #69
@apstechlead That seems to be the case. PRs in that direction would be welcome.

[2021-09-21 14:46] mwarger opened #73 "option to configure codegen to override query/mutation builder type"
Related to this: https://github.com/reduxjs/redux-toolkit/issues/1532

I don't have a proposed solution to this, yet, just wanted to track it here for the future.

[2021-09-22 13:14] JohnnyDP opened #74 "Properties are always set as nullable"
When I run the generator all of the Typescript interfaces have all of their properties set as nullable (? notation).

The expectation was that all properties were not nullable unless they have the nullable property set to true.

https://swagger.io/specification/#schema-nullable

[2021-09-22 13:23] phryneas commented on #74
That does not seem to be the case in this example: https://github.com/rtk-incubator/rtk-query-codegen/blob/main/test/fixtures/generated.ts

Could you provide a schema that acts as a reproduction for this?

[2021-09-22 13:30] JohnnyDP commented on #74
Of course.
The spec is generated using Swashbuckle

Im using this command for generation:
npx @rtk-incubator/rtk-query-codegen-openapi --hooks src/api/swagger.json > src/api/generated-rtkquery/rtkquery-api.ts

The spec.. (Generated TS below):

`{
  "openapi": "3.0.1",
  "info": {
    "title": "SePU.WebApplication",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://localhost:5000"

[2021-09-22 16:37] phryneas commented on #74
Ah, I see. These are missing `required`, so they are marked as "optional". The `?` allows for the property not being present, not for the value `null`. `nullable` would allow for `null`, which is something entirely different.

https://swagger.io/specification/#schema-object references the json-schema spec:
https://json-schema.org/understanding-json-schema/reference/object.html#required-properties

[2021-09-22 18:41] JohnnyDP commented on #74
That seems to be it. Thank you very much for your help!

[2021-09-22 18:41] #74 closed

[2021-09-30 16:35] JosNun commented on #53
Correct me if I'm wrong, but I don't think it's possible to pass in a second argument when the first argument is typed as void, is it? I had to cast something as `void` if I wanted to supply options to the hook.

[code]

[2021-09-30 16:41] phryneas commented on #53
@JosNun `undefined` should be enough, no casting needed.

[2021-09-30 16:44] JosNun commented on #53
Thanks! I officially feel dumb, now 😆

That said, since #72 has been merged, this can probably be closed now, correct?

[2021-09-30 16:51] phryneas commented on #53
Good point.

[2021-09-30 16:51] #53 closed

[2021-10-03 19:48] jomarquez21 opened #75 "Error creating comments with eslint rules"
<img width="724" alt="Captura de Pantalla 2021-10-03 a la(s) 14 47 13" src="https://user-images.githubusercontent.com/16705169/135769194-a21b9949-59fa-4b3b-a1c7-f6df6dcd998b.png">

[2021-10-03 20:05] phryneas commented on #75
If we were not adding a `/**` that comment would not show up in autocomplete popups for these parameters in your IDE - which is usually desirable.
We should probably add an option to add an `/* eslint-disable */` comment at the top of generated api files.

[2021-10-04 20:11] awdyson opened #76 "[Request] add support for generating enums"
Would love to see support for something like this:
https://github.com/ferdikoomen/openapi-typescript-codegen#enums-vs-union-types---useuniontypes

Also, is there a forum/discord/whatever for this sort of thing?
I know a flood of "great ideas" isn't always helpful, but it'd be nice to see what's being talked about and worked on.

[2021-10-04 20:17] phryneas commented on #76
You can find one of us a lot of the time in #redux on Reactiflux.

As for Type-related features, we are just using the codegen from https://github.com/cellular/oazapfts, so probably asking there if it would be welcome as a feature and filing a PR over there is the best step.

[2021-10-04 21:52] awdyson commented on #76
Thanks for the info.

[2021-10-04 21:52] #76 closed

[2021-10-05 10:00] #51 closed

[2021-10-13 02:27] grumpyTofu opened #77 "Option to run in node.js script file"
I just switched from [openapi-typescript-codegen](https://www.npmjs.com/package/openapi-typescript-codegen) to this library and was pleasantly surprised by how much effort I will save in the future when building out an api client. However, there was a really cool feature of that library that I find missing here and I think it may also provide a solution to people who have submitted other issues an

[2021-10-15 19:17] phryneas commented on #37
@theZieger there is a `.vscode/launch.json` in this project, although I think the project has since seen some refactoring.
You theoretically should be able to open `src/bin/cli.ts`, set a breakpoint and then just do a "Run and Debug" -> "Current TS File".

[2021-10-15 19:33] wootencl commented on #63
@phryneas do you have a rough vision on how you would want bullets (2) and (3) in the `medium term` section implemented?

Also how would there be interest in splitting out the TS definitions from the API instantiation? My thinking there is that we could decouple the typings from the possibly `react` scoped `createApi`. May be less of an issue once the augment a base api (via `injectEndpoints`) app

[2021-10-16 14:11] phryneas commented on #77
see the api I just suggested in #63

[2021-10-20 02:14] grumpyTofu commented on #77
@phryneas Just took a look, it looks great! #63  would definitely cover this one.

[2021-10-22 20:26] grumpyTofu opened #79 "Add Endpoint URLs to Generated API Field"
I have been following the RTK docs to create a custom baseQuery with re-auth and ended up with something like:

[code]

However, I had to end up hard coding the authentication refresh endpoint instead of using a variable from the generated file. I am not sure if it is possible to use the auth refresh query created in the generated file, but if not, would there be a possibility of having the genera

[2021-10-29 11:10] ashnewport opened #80 "[Request] Add option to supply baseUrl as template literal instead of string"
I am manually editing the generated file to modify the `baseUrl` so that it uses an environment variable as the command line arg only puts the value in as a string `--baseUrl <url>`.

The modified file looks like:
[code]

To avoid a manual edit and reduce touching the file it would be good if either the generator allows a template literal option. Either by changing the generated output to use back

[2021-10-29 11:49] #80 closed, assigned to nobody

[2021-11-01 11:37] phryneas commented on #79
With #81, the whole `baseQuery` handling (including urls) is now out of scope of the codegen, so I think this would not be an issue over there? But I might be misunderstanding the issue a bit.

Could you elaborate a bit further?

[2021-11-01 11:39] phryneas commented on #37
@ashnewport great analysis!
I think this should be fixed over in oazapfts - could you please file a PR over there and let me know when it is merged?

[2021-11-01 11:41] phryneas commented on #73
I just implemented this over in the rehaul in #81 - could you please give that new version a try and report back?

[2021-11-01 11:50] phryneas commented on #63
So, by now #81 should be pretty much usable. I would be very happy to get some feedback!

[2021-11-01 12:03] phryneas commented on #68
I'm currently working on the next version of the codegen (with the `injectEndpoints` approach) over in #81 and could need some feedback. Could you take a look?

[2021-11-01 17:53] theZieger commented on #37
@ashnewport thanks for the digging and explanation around debugging. Since I discovered the issue we changed our openapi to use strings instead of integers.
Would also prefer seeing this fixed in the library instead having a workaround that must be removed later on again.

[2021-11-04 03:06] grumpyTofu commented on #79
@phryneas yes, I can;

in this line:
[code]
notice the endpoint for auth refresh is hardcoded.

Below is an example of my generated api endpoints:

[code]

instead of hardcoding that URL, I am wondering if there would be a way to use the generated client to insert that value instead of hardcoding it. As far as I can see right now, we only get methods and types, which is all that is needed more mos

[2021-11-12 13:15] ashnewport commented on #37
@phryneas and @theZieger this has been fixed in the oazapfts repo and the PR is now merged, https://github.com/cellular/oazapfts/pull/169

[2021-11-12 13:31] phryneas commented on #37
Great, I'll bump the dependency in the upcoming 1.0 beta

[2021-11-17 21:15] tricheco opened #83 "Blank import aliases when generating with hooks and a custom baseQuery"
When running (roughly) this command in CI today:
[code]
I got this error.
[code]
I have the same version in local, and that was working until I cleared my npx cache, after which the problem appeared there too.

PS: the problem started occurring today (using 0.5.0), and after a few successful runs in the last few days, without changing the definition.

[2021-11-18 01:29] Meligy commented on #83
This seems to happening when using [TypeScript 4.5](https://devblogs.microsoft.com/typescript/announcing-typescript-4-5/).

[2021-11-18 01:32] Meligy commented on #83
Probably caused by https://github.com/dsherret/ts-morph/issues/1221.

[2021-11-18 09:25] pdll commented on #83
Having the same issue. It's quite critical for out project, because we are relying on RTK query codegen.

[2021-11-18 09:28] phryneas commented on #83
Then please for now use the codegen from a second folder with TS 4.4 installed. I just had an eye operation and can't even see on both eyes yet, it's highly unlikely I'll be able to fix this on short terms notice.

[2021-11-18 09:56] pdll commented on #83
Didn't work for me.

[2021-11-18 10:17] phryneas commented on #83
Well, some dependency suddenly changed. Our package didn't - and I'm sorry, right now I just cannot debug this.
You'll have to try around with different dependencies.

[2021-11-18 13:12] pdll commented on #83
Maybe someone from your team can debug this?

[2021-11-18 13:27] ericlamb commented on #83
I was able to work around this by installing the `@rtk-incubator/rtk-query-codegen-openapi` package in my React project as a dev dependency.  Then changing the paths in the build process to execute the command from the React project folder.

[code]

Previously I was running the npx command from the folder with my backend code. This was causing it to use a globally installed version of TypeScript w

[2021-11-18 18:00] phryneas commented on #83
Could you please give me feedback if https://github.com/rtk-incubator/rtk-query-codegen/pull/84 works for you as a fix?

[2021-11-18 23:16] Meligy commented on #83
@phryneas is there a way to try it as an npm package without linking etc.? Thanks.

[2021-11-19 12:52] phryneas commented on #83
Unfortunately not - after moving to the RTK monorepo we'll have CodeSandbox package builds for each commit. Right now I'd recommend trying this with `yalc`.

[2021-11-19 13:12] Meligy commented on #83
I found another small issue, and added testing commands to the PR.

[2021-11-21 15:47] phryneas commented on #83
fixed in https://github.com/rtk-incubator/rtk-query-codegen/releases/tag/v0.5.1

[2021-11-21 15:47] #83 closed

[2021-11-26 09:21] olafur164 opened #85 "Can't get the baseUrl from a scheme if using custom baseQuery"
I was digging around this looking into autogenerating our api client and typescript models for the FE from our swagger files and found this tool which looks awesome btw but I did get stuck on one thing. The thing is I want to make the generated api client get the accessToken for the user and add it to the header, I tried using a custom baseQuery but it doesn't seem to work.

Here's a code example:

[2021-11-26 11:15] phryneas commented on #85
You'll have to do that by hand.
We are just preparing the release of the codegen in version 1.0, which will leave the whole api generation to the user and only create files with `injectEndpoints` from the Schema. That has the benefit that you can add a lot of custom code, with the drawback that the url is no longer injected anywhere.

Take a look here: https://github.com/reduxjs/redux-toolkit/pull

[2021-11-26 15:08] olafur164 commented on #85
So if I understand you correctly, with release 1.0 I would create something like this:

baseQuery.ts
[code]
import { createApi } from '@reduxjs/toolkit/query';
import { baseQuery } from './baseQuery';

const petsApi = createApi({
  reducerPath: 'pets',
  baseQuery: baseQuery({ baseUrl: 'https://petstore3.swagger.io/api/' }),
  endpoints: () => ({
  }),
});

and then the code generation makes a fil

[2021-11-26 20:09] phryneas commented on #85
Essentially, but you have a config file now, which allows for much more configuration (including multi-file output etc).

See https://raw.githubusercontent.com/reduxjs/redux-toolkit/rtk-query-codegen-openapi/docs/rtk-query/usage/code-generation.mdx

[2021-11-27 15:43] olafur164 commented on #85
Awesome, this looks really promising! Looking forward to the release. I'll close this issue now ☺️

[2021-11-27 15:44] #85 closed

[2021-11-27 20:27] phryneas opened #86 "This repository has been archived"
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please read the documentation.

### Documentation

[View the RTK Query Code Generation docs](https://redux-toolkit.js.org/rtk-query/usage/code-generation)

[2021-11-27 20:29] phryneas commented on #3
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

This issue should be solved there.

[2021-11-27 20:29] #3 closed

[2021-11-27 20:30] phryneas commented on #37
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

The new release references the new version of oazapfts, so

[2021-11-27 20:31] phryneas commented on #54
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

The new release of the codegen now also uses configuration

[2021-11-27 20:32] phryneas commented on #39
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

As this repository is getting archived, I am going to clos

[2021-11-27 20:33] phryneas commented on #63
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

The "roadmap" question should be pretty much resolved by t

[2021-11-27 20:33] phryneas commented on #67
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

As this repository is getting archived, I am going to clos

[2021-11-27 20:34] phryneas commented on #69
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

As this repository is getting archived, I am going to clos

[2021-11-27 20:34] phryneas commented on #73
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

As this repository is getting archived, I am going to clos

[2021-11-27 20:34] #73 closed, assigned to nobody

[2021-11-27 20:37] phryneas commented on #61
The codegen is now published as `@rtk-query/codegen-openapi` and the code has moved over to [the Redux Toolkit monorepo](https://github.com/reduxjs/redux-toolkit/tree/master/packages/rtk-query-codegen-openapi).

As usage has changed as well, please [read the new documentation](https://redux-toolkit.js.org/rtk-query/usage/code-generation).

As this repository is getting archived, I am going to clos